/* Move the tab close button to the right */
.tab-header .close {
  background-color: transparent !important;
  display: inline !important;
  order: 2 !important;
  margin-right: 6px;
}

/* Place the audio icon to the left of the tab close button */
.tab-header .tab-audio {
  display: inline !important;
  order: 1 !important;
  margin-right: -3px;
}

/* Always show favicon on tab */
.tab-header .favicon {
  display: inline !important;
  order: 0 !important;
}

/* Reduce the font size in the status info overlay */
#status_info > span {
  font-size: calc(var(--fontSize) * 0.9);
}

/* Remove the button badges in Facebook, Twitter, and YouTube among others */
span.button-badge {
  display: none;
}

/* Arrange the order of tab transition/reload buttons */
button.button-toolbar.rewind {
  order: -1;
}

button.button-toolbar.forward, button.button-toolbar.next {
  order: 1;
}

button.button-toolbar.home {
  order: 2;
}

/* Hide the navigation bar in start page */
nav.startpage-navigation {
  display: none !important;
}

/* Hide the tab trash bin in private mode */
.private .toggle-trash {
  display: none;
}

/* Hide searchfield in speed dial */
.iconmenu-container.searchfield {
  display: none;
}
